<!DOCTYPE html>
<html ng-app="mobiusFF">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="{{ url_for('static', filename='js/mobiusff.js') }}"></script>
    <title>MobiusFF Card List</title>
</head>
<body ng-controller="CardController">
<ul>
        <li ng-repeat="Card in Cards">
            {{ "{{Card.name}}" }}
        </li>
      </ul>
</body>
</html>